/* .setmid{
    color:black;
} */
div>p{
    font-size:30px;
}
@media only screen and (min-width:755px) and (max-width:1500px)  {
    div>h2{
     font-size: 45px;
    }


    div>p{
        font-size:30px;
    }
 }  
 

@media only screen and (min-width:430px) and (max-width:755px)  {
    div>h2{
     font-size: 45px;
    }


    div>p{
        font-size:20px;
    }
 }  
 
 

@media only screen and (min-width:300px) and (max-width:430px)  {
   div>h2{
    font-size:20px;
   }

   
   div>p{
    font-size:11px;
}
}  

